# Ignore environment and cache files
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs, text outputs
*.txt
*.log

# Ignore model checkpoints and large files
*.ckpt
*.nemo

# Ignore output directories
nemo_experiments/
checkpoints/
